.ButtonStyle {
    height: 70px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(32, 123, 32, 255);
    font-size: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
